

.portfolio{
    background-color: #ECF0F3; 
}
.portfolio-contents{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}


.portfolio-text{
    font-size: 40px;
    margin: 0;
    padding-bottom: 40px;
}




@media all and (max-width:992px) {
    .portfolio-text{
        font-size: 26px;
    }
    .portfolio-contents{       grid-template-columns: repeat(2,1fr);
        grid-gap: 25px;
    }
    
    
}
@media all and (max-width:425px) {
    .portfolio-text{
        font-size: 26px;
    }

    
    .portfolio-contents{       grid-template-columns: repeat(1,1fr);
        grid-gap: 25px;
    }
    
}